
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Compare.img</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootswatch.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet">


  <!-- favicon
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='images/favicon.png') }}"/> -->
  </head>
<style type="text/css">
  .navbar-nav > li{
  font-size: 14px;
}
</style>
  <body style="padding-top: 70px;">

    <!-- Fixed navbar -->
    {% include 'navbar.html' %}

    <div class="container">
      <div class="col-md-12">
         <h3 style="text-align:center">Compare Image...</h3>

        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-md-5">
              <!-- <form id="form"  role="form" method=""> -->
                <div class="picture col-md-10 col-md-offset-1" id="picture1"></div>
                
                <!-- <div class="form-group"> -->
                  <!-- <label for="photo">Image 1</label> -->
                  <input type="url" class="form-control" onChange='load_image1();'name="image1" id="image1" placeholder="URL for 2nd image" autofocus>
                <!-- </div> -->
    
              <!-- </form> -->
            </div>

            <div class="col-md-5 pull-right">
              <!-- <form id="form"  role="form" method=""> -->
                <div class="picture col-md-10 col-md-offset-1" id="picture2"></div>
                
                <!-- <div class="form-group"> -->
                  <!-- <label for="photo">Image 2</label> -->
                  <input type="url" class="form-control" onChange='load_image2();' name="image2" id="image2" placeholder="URL for 2nd image" autofocus>
                <!-- </div> -->
    
              <!-- </form> -->
            </div>

            <div class="picture col-md-10 col-md-offset-1" id="picture"></div>
          </div>
          {% include 'flash.html'%}
        </div> 
      </div>

        
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <!--  <script src="{{ url_for('static', filename='js/custom-resemble.js')}}"></script> -->
    <script src="{{ url_for('static', filename='js/resemble.js')}}"></script>
  </body>
</html>

<script type="text/javascript">
var img1;
var img2;
var diff_image = new Image();
function load_image1()
{ 
    var img = new Image();  
  img.src = document.getElementById('image1').value
  img.style.width='100%';
  $("#picture1").append(img);

  var blob = null;
  var xhr = new XMLHttpRequest(); 
  xhr.open("GET", img.src); 
  xhr.responseType = "blob";//force the HTTP response, response-type header to be blob
  xhr.onload = function() 
  {
      blob = xhr.response;//xhr.response is now a blob object
  }


  img1 = blob;
  img.onload = function()
  {
    if(img2)
    {
      data = resemble(img1).compareTo(img2).ignoreColors().onComplete(function(data)
      {
         diff_image.src = data.getImageDataUrl();
      } )
      $("#picture").append(diff_image);
    }
  }
}

function load_image2()
{ 
    var img = new Image();  
  img.src = document.getElementById('image2').value
  img.style.width='100%';
  $("#picture2").append(img);

  var blob = null;
  var xhr = new XMLHttpRequest(); 
  xhr.open("GET", img.src); 
  xhr.responseType = "blob";//force the HTTP response, response-type header to be blob
  xhr.onload = function() 
  {
      blob = xhr.response;//xhr.response is now a blob object
  }



  img2 = blob;
  img.onload = function()
  {
    if(img1){
      diffImage = resemble(img2).compareTo(img1).onComplete(function(data)
      {
         diff_image.src = data.getImageDataUrl();
      } )
      $("#picture").append(diff_image);
    }
  }
}

</script>

